<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS LINKED -->
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="shortcut icon"
      href="/assets/icons/fav.svg"
      type="image/x-icon"
    />
    <title>My Blog | Create Post</title>
  </head>
  <body>
    <!------------------------------------------>
    <!-- HOME PAGE -->
    <!------------------------------------------>
    <!-- Navbar -->
    <nav class="navbar">
      <div class="container">
        <h2 class="logo">My Blog</h2>
        <div class="nav-links">
          <a href="/" class="nav-item">Home</a>

          <% if (!userdata) { %>
          <!-- Show only if user is not logged in -->
          <a href="/login" class="nav-item">Login</a>
          <a href="/signup" class="nav-item">Signup</a>
          <% } else { %>
          <!-- Show only if user is logged in -->
          <a href="/user/<%= userdata.username %>" class="nav-item">Account</a>
          <% } %>
          <a href="/create-post" class="nav-item majic-btn btn">
            <span>Create Post</span>
          </a>
        </div>
      </div>
    </nav>

    <!-- ERROR MESSAGE PARA -->
    <% if (errors?.message) { %>
    <p class="message"><%= errors.message %></p>
    <% } %>

    <main class="container create-post">
      <h1 class="title">Edit Post</h1>
      <form
        action="/post/update/<%= formData.id %>"
        method="post"
        class="create-post-form"
      >
        <!-- TITLE -->

        <label for="title">
          Title *
          <input
            type="text"
            name="title"
            id="title"
            placeholder="This is my post title"
            required
            value="<%= formData ? formData.title : '' %>"
          />

          <!-- Permalink Error Handling -->
          <% if (errors?.title) { %>
          <span class="error"><%= errors.title %></span> <% } %>
        </label>

        <!-- PERMALINK -->

        <label for="permalink">
          Permalink *
          <input
            type="text"
            name="permalink"
            id="permalink"
            placeholder="this-is-my-post-title"
            value="<%= formData ? formData.permalink : '' %>"
            required
          />

          <!-- Permalink Error Handling -->
          <% if (errors?.permalink) { %>
          <span class="error"><%= errors.permalink %></span> <% } %>
        </label>

        <!-- PERMALINK -->

        <label for="content">
          Content *

          <textarea
            name="content"
            id="content"
            placeholder="This is my message to all world !"
            required
          >
<%= formData ? formData.content : "" %></textarea
          >

          <!-- Permalink Error Handling -->
          <% if (errors?.content) { %>
          <span class="error"><%= errors.content %></span> <% } %>
        </label>

        <input type="submit" value="Update Post" class="btn primary" />
      </form>
    </main>

    <!----------------------------- FOOTER ----------------------------->
    <p class="footer">
      &copy; <span id="year"></span> My Blog. All rights reserved.
    </p>

    <!-- JS LINKED -->
    <script src="/javascripts/script.js"></script>
  </body>
</html>
