<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS LINKED -->
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="shortcut icon"
      href="/assets/icons/fav.svg"
      type="image/x-icon"
    />
    <title>My Blog | @<%= userdata?.username %></title>
  </head>
  <body>
    <!------------------------------------------>
    <!-- HOME PAGE -->
    <!------------------------------------------>
    <!-- Navbar -->
    <nav class="navbar">
      <div class="container">
        <h2 class="logo">My Blog</h2>
        <div class="nav-links">
          <a href="/" class="nav-item">Home</a>

          <% if (!userdata?.id) { %>
          <!-- Show only if user is not logged in -->
          <a href="/login" class="nav-item">Login</a>
          <a href="/signup" class="nav-item">Signup</a>
          <% } else { %>
          <!-- Show only if user is logged in -->
          <a
            href="/user/<%= userdata?.username %>"
            class="nav-item <%= !userdata?.isAuthor ? '' : 'active' %>"
            >Account</a
          >
          <% } %>
          <a href="/create-post" class="nav-item majic-btn btn">
            <span>Create Post</span>
          </a>
        </div>
      </div>
    </nav>

    <!----------------------------- HERO ----------------------------->
    <main class="account container">
      <div class="profile majic-btn">
        <img src="/assets/images/avatar.png" alt="avatar" />
      </div>
      <h1><%= author.name %></h1>
      <h3>@<%= author.username %></h3>
    </main>

    <div class="dashboard container">
      <h3>Number Of Posts : <%= author.posts.length %></h3>
      <% if(userdata?.isAuthor) {%><a href="/user/logout" class="btn primary"
        >Logout</a
      ><%} %>
    </div>

    <!----------------------------- POST CARDS ----------------------------->
    <section class="post-cards container">
      <% author.posts.forEach(post => { %>
      <div
        class="post-card"
        onclick="window.location.href = '/post/<%= post.permalink %>'"
      >
        <h3><%= post.title %></h3>
        <h4>
          <% if (post.user && post.user.username) { %> @<%= post.user.username
          %> <% } else { %>
          <span class="text-muted">@Unknown</span>
          <% } %>
        </h4>
        <p><%= post.content.substring(0, 200) %>...</p>

        <div class="buttons">
          <div class="reaction">
            <a href="/post/like/<%= post._id %>">
              <% if (post.likes.findIndex(like => like.toString() ===
              userdata?.id.toString()) === -1) { %>
              <img src="/assets/icons/like.svg" alt="Like" />
              <% } else { %>
              <img src="/assets/icons/like-solid.svg" alt="Like" />
              <% } %>
              <span><%= post.likes.length %></span>
            </a>

            <a href="/post/<%= post.permalink %>">
              <img src="/assets/icons/comment.svg" alt="Comments" />
              <span><%= post.comments.length %></span>
            </a>
          </div>

          <% if (userdata && String(userdata.id) === String(post.user?._id)) {
          %>
          <div class="editing">
            <a href="/post/edit/<%= post.permalink %>" class="edit">Edit</a>
            <a href="/post/delete/<%= post._id %>" class="delete">Delete</a>
          </div>
          <% } %>
        </div>
      </div>
      <% }); %>
    </section>

    <!----------------------------- FOOTER ----------------------------->
    <p class="footer">
      &copy; <span id="year"></span> My Blog. All rights reserved.
    </p>

    <!-- JS LINKED -->
    <script src="/javascripts/script.js"></script>
  </body>
</html>
